# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
src/main/java/xyz/thm/addon/modules/WebhookEncrypt.java
src/main/java/xyz/thm/addon/modules/WebhookEncrypt.java
src/main/java/xyz/thm/addon/modules/HighwayBuilder.java
src/main/java/xyz/thm/addon/utils/password.java
